.feedback-form {
  display: flex;
  flex-direction: column;
  gap: 8px;
  max-width: 480px;
  margin: 0 auto;
}

.feedback-form label {
  display: flex;
  flex-direction: column;
}

.feedback-form input:hover {
  border: 1px solid #000;
  transform: scale(1.05);
  transition: background-color 0.3s ease, color 0.3s ease;
}

.feedback-form input:focus {
  outline: none;
  border: 1px solid #808080;
}

.feedback-form textarea:hover {
  border: 1px solid #000;
  transform: scale(1.05);
  transition: background-color 0.3s ease, color 0.3s ease;
}

.feedback-form textarea:focus {
  outline: none;
  border: 1px solid #808080;
}

.feedback-form input,
.feedback-form textarea {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.label-email {
  gap: 8px;
  width: 360px;
  height: 72px;
}

.label-message {
  gap: 8px;
  width: 360px;
  height: 112px;
}

.feedback-form button {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background: #4e75ff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 10px;
  border-radius: 8px;
  border: none;
  padding: 8px 16px;
  width: 95px;
  height: 40px;
  margin-top: 8px;
}

.feedback-form button:hover {
  background-color: #6c8cff;
  transform: scale(1.05);
  transition: background-color 0.4s ease, color 0.4s ease;
}
